*{
    margin: 0;
    padding: 0;
}
html, body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
/*START: HEADER*/ 
/* HEADER */
.to-top{
    position: fixed;
    background-color: black;
    border: 1px solid white;
    bottom: 16px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 26px;
    color: #fdfdfd;

    opacity: 0;
    pointer-events: none;
    transition: all .4s;
}
.to-top.active{
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}

nav{
    z-index: 1;
    display: flex;
    justify-content: space-between;
    height: 7em;
    align-items: center;
    box-shadow: 0em 1px 10px rgb(0, 0, 0, .2);
    margin-bottom: 2em;
}
nav img{
    width: 5.5em;
    /* border: 1px solid black; */
    filter: brightness(0%);
    margin: 1.5em 3em;
    margin-right: 2.5em;
    margin-bottom: 1em;
}
nav ul{
    list-style: none;
    display: flex;
    margin-right: .5em;
    align-items: center;
}
nav ul a{
    text-decoration: none;
    margin: 1.5em;
    color: black;
    font-size: 20px;
    font-family: League Spartan;
    font-weight: 600;
}
nav .buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#Sign-in{
    padding: 8px 20px 8px 20px;
    background-color: transparent;
    font-weight: bold;
    border-radius: 3em;
    margin-right: 10px;
    border: 2px solid black;
    font-size: 16px;
}
nav .fa-cart-shopping{
    font-size: 22px;
    margin-top: 4px;
    margin-right: 10px;
}
nav .buttons a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-family: Arial;
    font-size: 15px;
    margin-right: 1.5em;
}
#Sign-up a{
    color: white;
    text-decoration: none;
}
#Sign-up{
    padding: 8px 20px 8px 20px;
    background-color: black;
    font-weight: bold;
    color: white;
    margin-right: 1em;
    border-radius: 3em;
    font-size: 16px;
}

nav ul .viewing{
    content: '';
    color: black;
    padding-bottom: 2em;
    border-bottom: 8px solid #000000;
}
nav li a:hover{
    color: #5c391a;
}
nav a{
    text-decoration: none;
}
nav .fa{
    display: none;
}
nav .checkbtn{
    font-size: 25px;
    display: none;
    cursor: pointer;
}
#check{
    display: none;
}

@media(max-width: 768px){
    nav ul a{
        text-decoration: none;
        margin: 1.5em;
        color: black;
        font-size: 17px;
        font-family: League Spartan;
        font-weight: 600;
    }
    #Location{
        display: none;
    }
}

@media(max-width: 650px){
    nav ul .viewing{
        color: white;
        border-bottom: none;
    }
    nav ul a{
        color: white;
        margin: 2em;
    }
    nav ul{
        z-index: 100;
        position: fixed;
        flex-direction: column;
        background-color: black;
        padding-left: 2em;
        padding-top: 6em;
        gap: 2em;
        width: 15em;
        height: 100%;
        top: 0em;
        right: -100em;
        transition: all .5s;
    }
    nav .fa{
        display: block;
        font-size: 25px;
        cursor: pointer;
        margin: 1em;
    }
    nav .checkbtn{
        display: block;
    }
    #check:checked ~ .checkbtn{
        z-index: 300;
        position: fixed;
        right: 0;
        color: white;
    }
    #check:checked ~ i{
        z-index: 300;
        color: white;
    }
    #check:checked ~ ul{
        right: 0em;
    }
}

@media(max-width: 426px){
    nav ul .viewing{
        color: white;
        border-bottom: none;
    }
    nav ul a{
        color: white;
        margin: 2em;
    }
    nav ul{
        z-index: 100;
        position: fixed;
        flex-direction: column;
        background-color: black;
        padding-left: 2em;
        padding-top: 6em;
        gap: 2em;
        width: 15em;
        height: 100%;
        top: 0em;
        right: -100em;
        transition: all .5s;
    }
    nav .fa{
        display: block;
        font-size: 25px;
        cursor: pointer;
        margin: 1em;
    }
    nav .checkbtn{
        display: block;
    }
    #check:checked ~ .checkbtn{
        z-index: 300;
        position: fixed;
        right: 0;
        color: white;
    }
    #check:checked ~ i{
        z-index: 300;
        color: white;
    }
    #check:checked ~ ul{
        right: 0em;
    }
}

/*---RESPONSIVESS: END---*/
/*END: HEADER*/




/*START: FOOTER*/
.footer{
    margin-top: 0em;
    height: 17em;
    box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.1);
  }
  .footer .content{
    display: flex;
    justify-content: space-between;
    margin: 8em;
    padding-top: 4em;
  }
  .footer ul{
    list-style: none;
  }
  .footer p{
    color: rgb(61, 61, 61);
    font-family: Inter;
    font-weight: bold;
    margin-bottom: 1em;
    font-size: 20px;
  }
  .footer li a{
    font-size: 16px;
    line-height: 2.5;
    font-family: Inter;
    text-decoration: none;
    color: rgb(109, 109, 109);
  }
  .footer li a:hover{
    color: black;
  }
  
  .privacy{
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    font-family: Inter;
    font-size: 13px;
    margin-top: 0em !important;
    margin: 4em;
    box-shadow: 0px -1px 0px rgba(146, 146, 146, 0.5);
  }
  .privacy .social-icons{
    padding-top: 2em;
    display: flex;
  }
  .privacy .social-icons .content{
    display: flex;
    gap: 2.5em;
    margin: 1em;
  }
  .privacy .social-icons img{
    margin: -15px;
    filter: brightness(25%);
    width: 2em;
    height: 2em;
    padding: 5px;
    object-fit: cover;
  }
  .privacy .social-icons img:hover{
    box-shadow: 0px 1px 5px rgb(0, 0, 0, .5);
    border-radius: 10px;
  }
  .privacy p{
    color: rgb(78, 78, 78);
    padding-top: 2em;
  }
  @media(max-width: 650px){
    .footer{
        margin-top: 5em;
        height: 17em;
        box-shadow: 0px -1px 0px rgba(97, 97, 97, 0.5);
    }
    .footer .content{
        margin: 1em;
    }
    .footer p{
        font-size: 14px;
    }
    .footer li a{
        font-size: 12px;
    }
    
    .privacy{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: Inter;
        font-size: 13px;
        margin-top: 0em !important;
        margin: 4em;
        box-shadow: 0px -1px 0px rgba(146, 146, 146, 0.5);
    }
    .privacy .social-icons{
        padding-top: 2em;
        display: flex;
    }
    .privacy .social-icons .content{
        display: flex;
        gap: 2.5em;
        margin: 1em;
    }
    .privacy .social-icons img{
        margin: -15px;
        filter: brightness(25%);
        width: 1.8em;
        height: 1.8em;
        padding: 5px;
        object-fit: cover;
    }
    .privacy .social-icons img:hover{
        box-shadow: 0px 1px 5px rgb(0, 0, 0, .5);
        border-radius: 10px;
    }
    .privacy p{
        color: rgb(78, 78, 78);
        padding-top: 2em;
        font-size: 12px;
    }
  }
  
  @media(max-width: 426px){
    .footer{
        margin-top: 5em;
        height: 17em;
        box-shadow: 0px -1px 0px rgba(97, 97, 97, 0.5);
    }
    .footer .content{
        margin: 1em;
    }
    .footer p{
        font-size: 14px;
    }
    .footer li a{
        font-size: 12px;
    }
    
    .privacy{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: Inter;
        font-size: 13px;
        margin-top: 0em !important;
        margin: 4em;
        box-shadow: 0px -1px 0px rgba(146, 146, 146, 0.5);
    }
    .privacy .social-icons{
        padding-top: 2em;
        display: flex;
    }
    .privacy .social-icons .content{
        display: flex;
        gap: 2.5em;
        margin: 1em;
    }
    .privacy .social-icons img{
        margin: -15px;
        filter: brightness(25%);
        width: 1.8em;
        height: 1.8em;
        padding: 5px;
        object-fit: cover;
    }
    .privacy .social-icons img:hover{
        box-shadow: 0px 1px 5px rgb(0, 0, 0, .5);
        border-radius: 10px;
    }
    .privacy p{
        color: rgb(78, 78, 78);
        padding-top: 2em;
        font-size: 12px;
    }
  }
  
  @media(max-width: 320px){
    .footer{
        margin-top: 5em;
        height: 17em;
        box-shadow: 0px -1px 0px rgba(97, 97, 97, 0.5);
    }
    .footer .content{
        margin: 1em;
    }
    .footer p{
        font-size: 12px;
    }
    .footer li a{
        font-size: 11px;
    }
    .privacy p{
        color: rgb(78, 78, 78);
        padding-top: 2em;
        font-size: 8px;
    }
}