nav{
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0em 1px 1em rgb(0, 0, 0, .2);
  margin-bottom: 2em;
}
nav img{
  width: 4em;
  /* border: 1px solid black; */
  filter: brightness(0%);
  margin: 1.5em 15px;
  margin-bottom: 1em;
  padding-left: 1em;
}
nav ul{
  list-style: none;
  display: flex;
}
nav ul a{
  text-decoration: none;
  margin: 1em;
  color: black;
  font-size: 12px;
  font-family: League Spartan;
  font-weight: 500;
}
nav ul .viewing{
  content: '';
  color: #7f4f24;
  padding-bottom: .3em;
  border-bottom: 5px solid #7f4f24;
}
nav li a:hover{
  color: #7f4f24;
}


/* md */
@media (min-width: 768px) {
  .container {
      max-width: 768px;
  }

  nav ul a{
    font-size: 17px;
  }

  nav img{
    width: 5.5em;
    padding-left: 2em;
  }
}