main {
    text-align: center;
}

.main-title {
    margin-top: 2rem;
}

.service-container {
    background-color: #efdbd069;
    padding: 1rem;
    margin: 1rem;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0, .3);
}

.service-container img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
}

.service-container p {
    font-size: 0.9rem;
}

.service-title {
    margin: 1rem 0;
}

.view-menu{
    text-decoration: none;
    padding: 15px;
    border: 1px solid black;
    border-radius: 15px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #000000;
}
.view-menu:hover{
    background-color: rgb(235, 233, 233);
}

.button-container {
    margin: 2rem 0;
}


/* sm */
@media (min-width: 475px) {
    .container {
        max-width: 475px;
    }
}
/* md */
@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
    .main-service-container {
        width: 75%;
    }
    .parent-main-service-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .service-container {
        background-color: #efdbd069;
        margin: 3rem 0;
    }
}
/* lg */
@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
    .parent-main-service-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .main-service-container {
        width: 60rem;
        height: auto;
        display: flex;
        justify-content: center;
        gap: 2rem;
    }
    .service-container img {
        width: 15rem;
        height: 15rem;
        object-fit: cover;
    }
}
/* xl */
@media (min-width: 1440px) {
    .container {
        max-width: 1440px;
    }
}
/* 2xl */
@media (min-width: 2560px) {
    .container {
        max-width: 2560px;
    }
}