/* sm */
@media (min-width: 475px) {
    .container {
        max-width: 475px;
    }
}
/* md */
@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}
/* lg */
@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
}
/* xl */
@media (min-width: 1440px) {
    .container {
        max-width: 1440px;
    }
}
/* 2xl */
@media (min-width: 2560px) {
    .container {
        max-width: 2560px;
    }
}