.first-main, .third-main {
    background-color: #efdbd069;
}
.second-main {
    background-color: #0C0B0A;
    color: white;
}

.main__title {
    padding-top: 3rem;
}

.main__image-title {
    padding-top: 3rem;
}
.polaroid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    place-items: center;
}

.polaroid-figure {
    width: 21rem;
    height: 21rem;
    position: relative;
    background-color: white;
    padding: 1rem 1rem 5rem 1rem;
    margin: 1rem 0;
}

.polaroid-figure img {
    width: 325px;
    height: 325px;
    object-fit: cover;
}

figcaption {
    margin-top: 1.5rem;
    color: black;
}

.main__image-subtitle {
    display: none;
}


/* md */
@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
    
    .main__image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        text-align: justify;
        gap: 1rem;
    }

    .main__image-title {
        display: none;
    }

    .main__image-subtitle {
        display: block;
        margin-bottom: 1rem;
        font-size: 2rem;
        text-align: left;
    }

    figcaption {
        text-align: center;
    }
    .polaroid-figure img {
        width: 333px;
        height: 325px;
        object-fit: cover;
    }
    
}
/* lg */
@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
    .main__image-container {
        gap: 3rem;
    }
    .main__image-subtitle {
        font-size: 3rem;
    }
    .main__image-description2 {
        font-size: 1rem;
    }
    .main__image {
        width: 50%;
    }
    .main__title {
        font-size: 2rem;
    }
    .main__description {
        padding: 0 2rem;
    }
}
/* xl */
@media (min-width: 1440px) {
    .container {
        max-width: 1440px;
    }
    .main__image {
        width: 30%;
    }
    .main__image-container {
        gap: 5rem;
    }
    .main__description {
        margin-bottom: 1rem;
    }
    .main__title {
        font-size: 4rem;
    }
}
/* 2xl */
@media (min-width: 2560px) {
    .container {
        max-width: 2560px;
    }
}