@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Start of Content Design */
.container-heading {
  display: flex;
  margin-top: 70px;
}

.image1 {
  margin-right: 50px; 
  margin-left: 40px;
}

.image1 img {
  max-width: 900px; 
  height: 460px;
}

.content1 {
  flex-grow: 1; 
}

.content1 .header {
  font-size: 60px;
  font-family: 'League Spartan';
  font-weight: bold;
  margin-top: 7px;
}

.content1 .contents-heading {
  font-family: 'League Spartan';
  margin-top: 20px;
  font-size: 20px;
  line-height: 25px;
  text-align: justify;
  margin-right: 80px;
}

.section {
  margin-top: 50px;
  width: 100%;
  height: 100vh;
  background-color: black;
  color: white;
  font-family: 'League Spartan';
}

.container {
  width: 100%;
  display: block;
  margin: auto;
}

.content-section {
  float: left;
  width: 50%;
}

.container-image {
  float: right;
  width: 50%;
  height: 100%; 
}

.image2 {
  width: 100%; 
  height: 100%;
  overflow: hidden; 
}

.image2 img {
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
}


.title-mission {
  text-transform: uppercase;
  font-size: 35px;
  margin-top: 40px;
  padding-top: 100px;
  font-weight: bold;
  margin-left: 50px;
}

.title-vision {
  text-transform: uppercase;
  font-size: 35px;
  margin-top: 50px;
  font-weight: bold;
  margin-left: 50px;
}

.content-section .content-mission {
  margin-top: 15px;
  font-size: 20px;
  line-height: 25px;
  text-align: justify;
  width: 250px;
  margin-left: 50px;
}

.content-section .content-vision {
  margin-top: 15px;
  font-size: 20px;
  line-height: 25px;
  text-align: justify;
  width: 505px;
  margin-left: 50px;
}

.section2 {
  margin-top: 10px;
  width: 100%;
  min-height: 80vh;
  background-color: white;
  color: black;
  font-family: 'League Spartan';
}

.container2 {
  width: 100%;
  display: block;
  margin: auto;
  padding-top: 50px;
  text-align: center;
}

.content-section2 {
  width: 100%;
}

.title-compadv {
  font-size: 35px;
  font-weight: bold;
  margin-top: 0px;

} 
.content-1st {
  margin-top: 40px;
  float: left;
  width: 30%;
  margin-left: 240px;
  text-align: justify;
  font-size: 20px;
  line-height: 25px;
}

.content-2nd {
  margin-top: 40px;
  float: right;
  width: 30%;
  margin-right: 240px;
  font-size: 20px;
  text-align: justify;
  line-height: 25px;
}

.section3 {
  width: 100%;
  min-height: 90vh;
  background-color: black;
  font-family: 'League Spartan';
}

.container3 {
  width: 80%;
  display: block;
  margin: auto;
  padding-top: 80px;
}

.content-section3 {
  float: left;
  width: 40%;
  color: white;
  margin-top: 50px;
}

.image3 {
  float: right;
  width: 40%;
  margin-top: 50px;
}

.image3 img {
  width: 300px;
  height: 400px;
}

.title-compland {
  font-size: 35px;
  padding-top: 0px;
  font-weight: bold;
}

.content-compl  {
  margin-top: 50px;
  line-height: 25px;
  font-size: 20px;
  text-align: justify;
}
/* End of Content Design */

/* Start of 1stModal Design */
.edit-btn {
  cursor: pointer;
  color: white;
  position: absolute;
  margin: 1em;
  left: 86vw;
  background-color: black;
  padding: 1em;
  font-family: League Spartan;
  font-size: 18px;
  border: 1px solid white;
  margin-top: -40px;
}

.edit-btn:hover {
  background-color: rgb(26, 26, 26);
}

.content-edit {
  position: absolute;
}

.ck-editor__editable[role="textbox"] {
  display: block !important;
  margin: 1em;
  height: 10em;
  width: 40.5em;
  border: 5px solid black; /* Add black border */
  background-color: white; /* Ensure background is white */
}

.bg-modal {
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  border: 20px solid black;
}

.bg-modal textarea {
  height: 10em;
  display: block;
  margin: 0 auto;
  border: 1em solid black; /* Add black border */
  background-color: white; /* Ensure background is white */
}

.modal-content {
  width: 45em;
  max-height: 80vh; /* Adjust as needed */
  text-align: center;
  color: black;
  background-color: white;
  padding: 1em;
  border: 1px solid black; /* Add black border */
  overflow-y: auto; /* Enable vertical scrolling */
}

.edit-content {
  z-index: 100;
  background-color: white;
  color: black;
  padding: 10em;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-modal {
  display: none;
}

.saveBtn {
  font-family: League Spartan;
  cursor: pointer;
  color: white;
  font-size: 18px;
  border: 1px solid white;
  background-color: black;
  width: 6.5em;
  padding: 1em;
  position: relative;
  top: -0.7em;
  left: 15.4em;
}

.saveBtn:hover {
  background-color: rgb(26, 26, 26);
}

.close {
  position: relative;
  left: 21.2em;
  font-size: 2em;
  width: 30px !important;
  cursor: pointer;
}

.modal-title, .modal-caption {
  padding: 0.5em;
  color: black;
  font-family: League Spartan;
  font-size: 18px;
  font-weight: bold;
}

.inputfile {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  font-family: League Spartan;
  font-size: 18px;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background-color: black;
  color: white;
  position: relative;
  right: 12.9em;
  border-radius: 4px;
}

.custom-file-upload:hover {
  background-color: rgb(26, 26, 26);
}
/* End of 1stModal Design */

/* Start of 2ndModal Design */
.edit-btn2nd {
  cursor: pointer;
  color: white;
  position: absolute;
  margin: 1em;
  left: 86vw;
  background-color: black;
  padding: 1em;
  font-family: League Spartan;
  font-size: 18px;
  border: 1px solid white;
}

.edit-btn2nd:hover {
  background-color: rgb(26, 26, 26);
}

.content-edit {
  position: absolute;
}

.ck-editor__editable[role="textbox"] {
  display: block !important;
  margin: 1em;
  height: 10em;
  width: 40.5em;
  border: 5px solid black; /* Add black border */
  background-color: white; /* Ensure background is white */
}

.bg-modal2 {
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  border: 20px solid black;
}

.bg-modal2 textarea {
  height: 10em;
  display: block;
  margin: 0 auto;
  border: 1em solid black; /* Add black border */
  background-color: white; /* Ensure background is white */
}

.modal-content2 {
  width: 45em;
  max-height: 80vh; /* Adjust as needed */
  text-align: center;
  color: black;
  background-color: white;
  padding: 1em;
  border: 1px solid black; /* Add black border */
  overflow-y: auto; /* Enable vertical scrolling */
}

.edit-content {
  z-index: 100;
  background-color: white;
  color: black;
  padding: 10em;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-modal2 {
  display: none;
}

.saveBtn {
  font-family: League Spartan;
  cursor: pointer;
  color: white;
  font-size: 18px;
  border: 1px solid white;
  background-color: black;
  width: 6.5em;
  padding: 1em;
  position: relative;
  top: -0.7em;
  left: 15.4em;
}

.saveBtn:hover {
  background-color: rgb(26, 26, 26);
}

.close2 {
  position: relative;
  left: 21.2em;
  font-size: 2em;
  width: 30px !important;
  cursor: pointer;
}

.modal-title, .modal-caption {
  padding: 0.5em;
  color: black;
  font-family: League Spartan;
  font-size: 18px;
  font-weight: bold;
}

.inputfile {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  font-family: League Spartan;
  font-size: 18px;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background-color: black;
  color: white;
  position: relative;
  right: 12.9em;
  border-radius: 4px;
}

.custom-file-upload:hover {
  background-color: rgb(26, 26, 26);
}
/* End of 2ndModal Design */

/* Start of 3rdModal Design */
.edit-btn3rd {
  cursor: pointer;
  color: white;
  position: absolute;
  margin: 1em;
  left: 86vw;
  background-color: black;
  padding: 1em;
  font-family: League Spartan;
  font-size: 18px;
  border: 1px solid white;
}

.edit-btn3rd:hover {
  background-color: rgb(26, 26, 26);
}

.content-edit {
  position: absolute;
}

.ck-editor__editable[role="textbox"] {
  display: block !important;
  margin: 1em;
  height: 10em;
  width: 40.5em;
  border: 5px solid black; /* Add black border */
  background-color: white; /* Ensure background is white */
}

.bg-modal3 {
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  border: 20px solid black;
}

.bg-modal3 textarea {
  height: 10em;
  display: block;
  margin: 0 auto;
  border: 1em solid black; /* Add black border */
  background-color: white; /* Ensure background is white */
}

.modal-content3 {
  width: 45em;
  max-height: 80vh; /* Adjust as needed */
  text-align: center;
  color: black;
  background-color: white;
  padding: 1em;
  border: 1px solid black; /* Add black border */
  overflow-y: auto; /* Enable vertical scrolling */
}

.edit-content {
  z-index: 100;
  background-color: white;
  color: black;
  padding: 10em;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-modal3 {
  display: none;
}

.saveBtn {
  font-family: League Spartan;
  cursor: pointer;
  color: white;
  font-size: 18px;
  border: 1px solid white;
  background-color: black;
  width: 6.5em;
  padding: 1em;
  position: relative;
  top: -0.7em;
  left: 15.4em;
}

.saveBtn:hover {
  background-color: rgb(26, 26, 26);
}

.close3 {
  position: relative;
  left: 21.2em;
  font-size: 2em;
  width: 30px !important;
  cursor: pointer;
}

.modal-title, .modal-caption {
  padding: 0.5em;
  color: black;
  font-family: League Spartan;
  font-size: 18px;
  font-weight: bold;
}

.inputfile {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  font-family: League Spartan;
  font-size: 18px;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background-color: black;
  color: white;
  position: relative;
  right: 12.9em;
  border-radius: 4px;
}

.custom-file-upload:hover {
  background-color: rgb(26, 26, 26);
}
/* End of 3rdModal Design */

/* Start of 4thModal Design */
.edit-btn4th {
  cursor: pointer;
  color: white;
  position: absolute;
  margin: 1em;
  left: 86vw;
  background-color: black;
  padding: 1em;
  font-family: League Spartan;
  font-size: 18px;
  border: 1px solid white;
}

.edit-btn4th:hover {
  background-color: rgb(26, 26, 26);
}

.content-edit {
  position: absolute;
}

.ck-editor__editable[role="textbox"] {
  display: block !important;
  margin: 1em;
  height: 10em;
  width: 40.5em;
  border: 5px solid black; /* Add black border */
  background-color: white; /* Ensure background is white */
}

.bg-modal4 {
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  border: 20px solid black;
}

.bg-modal4 textarea {
  height: 10em;
  display: block;
  margin: 0 auto;
  border: 1em solid black; /* Add black border */
  background-color: white; /* Ensure background is white */
}

.modal-content4 {
  width: 45em;
  max-height: 80vh; /* Adjust as needed */
  text-align: center;
  color: black;
  background-color: white;
  padding: 1em;
  border: 1px solid black; /* Add black border */
  overflow-y: auto; /* Enable vertical scrolling */
}

.edit-content {
  z-index: 100;
  background-color: white;
  color: black;
  padding: 10em;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-modal4 {
  display: none;
}

.saveBtn {
  font-family: League Spartan;
  cursor: pointer;
  color: white;
  font-size: 18px;
  border: 1px solid white;
  background-color: black;
  width: 6.5em;
  padding: 1em;
  position: relative;
  top: -0.7em;
  left: 15.4em;
}

.saveBtn:hover {
  background-color: rgb(26, 26, 26);
}

.close4 {
  position: relative;
  left: 21.2em;
  font-size: 2em;
  width: 30px !important;
  cursor: pointer;
}

.modal-title, .modal-caption {
  padding: 0.5em;
  color: black;
  font-family: League Spartan;
  font-size: 18px;
  font-weight: bold;
}

.inputfile {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  font-family: League Spartan;
  font-size: 18px;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background-color: black;
  color: white;
  position: relative;
  right: 12.9em;
  border-radius: 4px;
}

.custom-file-upload:hover {
  background-color: rgb(26, 26, 26);
}
/* End of 4thModal Design */

@media (max-width: 768px) {

.container-heading {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
}

.image1 {
  margin-right: 50px; 
  margin-left: 40px;
}

.image1 img {
  max-width: 800px; 
  height: 400px;
}

.content1 {
  flex-grow: 1; 
  margin-left: 50px;
}

.content1 .header {
  font-size: 50px;
  font-family: 'League Spartan';
  font-weight: bold;
  margin-top: 20px;
}

.content1 .contents-heading {
  font-family: 'League Spartan';
  margin-top: 20px;
  font-size: 20px;
  line-height: 25px;
  text-align: justify;
  margin-right: 30px;
  width: 85%;
}

.section {
  margin-top: 50px;
  width: 100%;
  height: 100vh;
  background-color: black;
  color: white;
  font-family: 'League Spartan';
}

.container {
  width: 100%;
  display: flex;
  margin: auto;

}

.content-section {
  float: left;
  width: 50%;
}

.container-image {
  order: 1; /* Move the image container to the bottom */
}

.content-section {
  order: 0; /* Ensure the content section is at the top */
}

.content-section .content-mission,
.content-section .content-vision {
  width: 100%;
  margin-left: 0;
  padding: 0 20px; /* Add padding for better appearance */
}

.title-mission,
.title-vision {
  margin-left: 0;
  padding-left: 20px; /* Adjust padding to match content padding */
}

}