*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html, body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


/*START: SLIDER*/
*::before, *::after
{
    box-sizing: border-box;
}

.carousel
{
    width: 100%;
    height: 80vh;
    margin-bottom: 10em;
    position: relative;
    background: rgba(237, 237, 237, 0.5);
}
.carousel > ul
{
    margin: 0;
    padding: 0;
    list-style: none;
}
.slide
{
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 100ms;
}
.slide img
{
    display: block;
    width: 85em;
    height: 36.9em;
    margin: 0px auto;
    object-fit: cover;
}
.slide[data-active]
{
    opacity: 1;
    z-index: 1;
    transition-delay: 200ms;
}
.container
{
    display: flex; /* Make the container a flexbox */
    justify-content: space-between; /* Distribute buttons evenly */

}
/*BUTTON: TEXT TYPE*/
.container .carousel-button {
    position: absolute;
    display: block;
    top: 45%;
    transform: translateY(-30%);
    margin: 0 auto;
    z-index: 2;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 80px;
    color: rgba(51, 51, 51, 0.5);
    transition: 0.3s;
}
.carousel-button.prev {
    left: 1.5rem;
}
.carousel-button.next {
    right: 1.5rem;
}
.carousel-button:hover,
.carousel-button:focus
{
    color: rgb(0, 0, 0);
    font-size: 110px;
    top: 44%;
}

/*END: SLIDER*/

/* ####################################################### */
/*BLOG INPUT: MODAL POPUP*/
.blog_PopUp {
    position: fixed;
    width: 50em;
    background: white;
    border-radius: 6px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    padding: 20px 40px;
    visibility: hidden;
    transition: transform 0.8s, top 0.8s, visibility 0s 0.5s;
    z-index: 1001; /* Ensure the popup is above the backdrop */
}
.blog_PopUp h2
{
    font-family: League Spartan;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    padding: 20px 0 20px;
}
.blog-to-add-input label
{
    font-family: League Spartan;
    font-size: 20px;
    font-weight: bold;
    padding: 0 0 20px;
}
.blog-to-add-input #blogTitle,
.blog-to-add-input #blogDate 
{
    margin: 5px 0 25px;
    width: 100%;
    height: 30px;
    border-width: 2px;
    border-color: black; 
    border-style: solid;   
}
.blog-to-add-input #blogText 
{
    margin: 5px 0 25px;
    width: 100%;
    height: 15em;
    border-width: 2px;
    border-color: black; 
    border-style: solid;  
    resize: none;
}

.blog-open-popup 
{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 0.5s, top 0.1s, visibility 0s 0s;
}
.blogClosePopupbtn
{
    position: absolute;
    cursor: pointer;
    width: 35px;
    height: 35px;
    right: 20px;
    opacity: 50%;
    transition: 0.1s;
}
.blogClosePopupbtn:hover
{
    opacity: 100%;
}

.blog_PopUp .submitBtn input 
{
    display: block;
    width: 10em;
    margin: 30px auto 20px;
    padding: 15px 20px;
    background: rgb(255, 255, 255);
    border: 2px;
    outline: black;
    font-family: League Spartan;
    font-size: 20px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    border-radius: 5px;
    border-width: 1.3px;    
    cursor: pointer;
}
.blog_PopUp .submitBtn input:hover 
{
    background: rgb(0, 0, 0, 0.8);
    border: 2px;
    font-family: League Spartan;
    font-size: 20px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    border-width: 1.3px;    
    cursor: pointer;
}

/* Backdrop overlay */
.blogBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.5s, opacity 0.5s;
    z-index: 1000; 
}

.blogBackdrop-active {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s 0s, opacity 0.8s;
}


/* MESSAGE OF UPLOAD SUCCESS */
.blogMessageSuccess
{
    display: block;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    margin: 0 auto;
    transition: opacity 0.7s ease-out;
}
.blogMessageSuccess.hidden {
    opacity: 0;
    pointer-events: none;
}
.blogAlertMsg 
{
    padding: 20px 50px;
}
.blogAlertMsg img
{
    position: absolute;
    cursor: pointer;
    width: 20px;
    height: auto;
    top: 10em;
    right: 11px;
    opacity: 50%;
    transition: 0.1s;
}
.blogAlertMsg img:hover
{
    opacity: 100%;
}
.blogAlertMsg h3
{
    font-family: League Spartan;
    font-size: 25px;
    font-weight: bold;
    color: white;
}
.blogAlertMsg p
{
    font-family: League Spartan;
    font-size: 15px;
    padding: 10px 0 0;
    color: white;
}

/*START: ADD AND EDIT SLIDER*/
.BlogAddContainer
{
    position: relative;
    top: 1em;
    right: 3em;
    margin: 3em 30px;
}
.ToAddContainer .add_blog_btn
{
    z-index: 100;
    position: absolute;
    top: -0.5em;
    right: 0.5em;
    margin: 0.5em 4.5em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: white;
    color: rgb(0, 0, 0);
    border-color: rgb(0, 0, 0);
    border-style: solid;
    border-radius: 5px;
    border-width: 1.3px;
    padding: 13px 3px;
    width: 50px;
    cursor: pointer;
    letter-spacing: 0.5px;
    text-decoration: none;
}
.ToAddContainer .edit_blog_btn
{
    z-index: 100;
    position: absolute;
    top: -0.5em;
    right: -2.7em;
    margin: 0.5em 4.5em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: white;
    color: rgb(0, 0, 0);
    border-color: rgb(0, 0, 0);
    border-style: solid;
    border-radius: 5px;
    border-width: 1.3px;
    padding: 13px 3px;
    width: 50px;
    cursor: pointer;
    letter-spacing: 0.5px;
    text-decoration: none;
}
.ToAddContainer button:hover
{
    background: rgba(0, 0, 0, 0.8);
    border: solid 1px white;
    color: rgb(255, 255, 255);
    font-weight: bold;
    transition: 0.3s;
}
/* ######################################################## */




/*START: PREVIEW ARTICLE*/
/* BLOG PREVIEW */
.BlogMainContainer
{
    position: relative;
    bottom: 90px;
    margin: 8em 25px;
}

.BlogDivider
{
    margin: 2em 1.5em;
}
.BlogDivider h1
{
    font-family: League Spartan;
    font-size: 60px;
    font-weight: 800;
}
.BlogDivider hr
{
    border-top: 3px solid black;
}

.BlogDivider button
{
    z-index: 100;
    position: absolute;
    top: -0.5em;
    right: -3.1em;
    margin: 0.5em 4.5em;
    font-family: League Spartan;
    font-size: 18px;
    background-color: white;
    color: rgb(0, 0, 0);
    border-color: rgb(0, 0, 0);
    border-style: solid;
    border-radius: 2px;
    border-width: 1.3px;
    padding: 0.7em 0;
    width: 170px;
    cursor: pointer;
    letter-spacing: 0.5px;
}
/* .fa-plus{
    font-size: 20px;
    margin: 0em;
} */
.BlogDivider button:hover
{
    background: rgba(0, 0, 0);
    border-style: solid;
    color: rgb(255, 255, 255);
    font-weight: bold;
    transition: 0.3s;
}


/* PREVIEW CONTENT */
.BlogMainContainer .blog-group
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.BlogContainer
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0em 1.5em;
}

.blog-group
{
    background: rgb(255, 255, 255);
    box-shadow: 0px 0px 25px 3px rgba(174, 174, 174, 0.5);
    margin: 1em 0em 1em 1em; /*pagitan per box*/
    border-radius: 3px;
    align-items: center;
    padding: 30px;
    width: 80%;
    height: 480px;
}
.blog-group img
{
    width: 100%;
    height: 80%;
    border-radius: 3px;
    cursor: pointer;
    /*Centers the Item*/
    display: block;
    position: relative;
    bottom: 1.5em;
    margin-left: auto;
    margin-right: auto;
    /*Centers the Item*/
}
.blog-group h2
{
    width: 100%;
    position: relative;
    top: 0em;
    font-family: League Spartan;
    text-align: center;
    font-size: 25px;
    font-weight: 800;
}
.blog-group .blogReadMore 
{
    position: relative;
    top: 1.3em;
    display: block;
    margin: auto;
    background: rgb(0, 0, 0);
    font-family: League Spartan;
    font-size: 15px;
    color: white;
    border-style: none;
    border-radius: 2px;
    border-width: 1.3px;
    padding: 5px 15px;
    cursor: pointer;
    width: 110px;
    height: 30px;
}
.blog-group .blogReadMore:hover
{
    background: rgb(233, 233, 233);
    color: black;
    font-weight: bold;
    border-style: solid;
    transition: 0.3s;
}
.indivblog div:hover
{
    /*
    background-color: rgba(207, 207, 207, 0.6);
    */
    transition: 0.5s;
    box-shadow: 0px 0px 25px 3px rgba(120, 120, 120, 0.7);
    
}
.indivblog div:hover img
{
    /*
    box-shadow: 0px 0px 10px 3px rgba(165, 165, 165, 0.3);
    */
    transition: 0.3s;
}
/*END: PREVIEW ARTICLE*/
/*END: BLOG CONTENT*/



































































