body {
    margin: 0;
}

.tablecontainer {
    display: flex;
    justify-content: center;
    margin: 50px;
    padding: 20px;
}

.tableclass {
    border: 5px solid black;
    width: 80%; /* Adjust width as needed */
    margin: auto; /* Centers the table */
    border-collapse: collapse;
}

.tableclass th{
    padding: 20px;
    text-align: center;
    border: 5px solid black;
    font-family: League Spartan;
    font-size: 30px;
}
.tableclass td {
    padding: 10px;
    text-align: center;
    border: 5px solid black;
    font-family: League Spartan;
    font-size: 20px;
}
.tableclass .th_id {
    width: 3em;
}
.tableclass .th_img {
    width: 8%;
}
.tableclass .th_edit,
.tableclass .th_delete
{
    width: 10em;
}
.tableclass td img {
    display: block;
    margin: auto;
    width: 40em;
    height: auto;
}
.sliderEditBtn a
{
    text-decoration: none;
    padding: 15px 30px;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    border: solid 2px rgb(217, 217, 217);
    transition: 0.1s;
}
.sliderEditBtn a:hover
{
    background: rgb(0, 255, 0);
    color: rgb(0, 0, 0);
    border: none;
    font-weight: bold;
    box-shadow: 0px 0px 25px 6px rgb(151, 255, 149);

}
.sliderDeleteBtn a
{
    text-decoration: none;
    padding: 15px 30px;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    border: solid 2px rgb(217, 217, 217);
    transition: 0.1s;
}
.sliderDeleteBtn a:hover
{
    background: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    font-weight: bold;
    border: none 2px rgb(217, 217, 217);
    box-shadow: 0px 0px 30px 0.5px rgb(254, 131, 131);

}

/*FUNCTION: TO DELETE*/
.mainContainerToDelete {
    position: relative;
    width: 80%;
    height: 20em; 
    margin: auto; /* Center the container within its parent horizontally */
}

.mainContainerToDelete .blogToDelete {
    background: rgb(255, 255, 255);
    /* Center the element horizontally and vertically */
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    /* Use flexbox to center the text inside */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; /* Center text horizontally */
    box-shadow: 0em 1px 10px rgb(0, 0, 0, 0.4);
    border-radius: 20px;
}
.mainContainerToDelete .blogToDelete h2
{
    margin: 0; 
    font-family: League Spartan;
    font-size: 30px;
}
.mainContainerToDelete .blogToDelete img
{
    width: 5em;
    height: auto;
    padding: 15px;
}
/*BLOG INPUT: MODAL POPUP*/
.blog_PopUp {
    position: fixed;
    width: 50em;
    background: white;
    border-radius: 6px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    padding: 20px 40px;
    visibility: hidden;
    transition: transform 0.8s, top 0.8s, visibility 0s 0.5s;
    z-index: 1001; /* Ensure the popup is above the backdrop */
}
.blog_PopUp h2
{
    font-family: League Spartan;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    padding: 20px 0 20px;
}
.blog-to-add-input label
{
    font-family: League Spartan;
    font-size: 20px;
    font-weight: bold;
    padding: 0 0 20px;
}
.blog-to-add-input #blogTitle,
.blog-to-add-input #blogDate 
{
    margin: 5px 0 25px;
    width: 100%;
    height: 30px;
    border-width: 2px;
    border-color: black; 
    border-style: solid;   
}
.blog-to-add-input #blogText 
{
    margin: 5px 0 25px;
    width: 100%;
    height: 15em;
    border-width: 2px;
    border-color: black; 
    border-style: solid;  
    resize: none;
}

.blog-open-popup 
{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 0.5s, top 0.1s, visibility 0s 0s;
}
.blogClosePopupbtn
{
    position: absolute;
    cursor: pointer;
    width: 35px;
    height: 35px;
    right: 20px;
    opacity: 50%;
    transition: 0.1s;
}
.blogClosePopupbtn:hover
{
    opacity: 100%;
}

.blog_PopUp .submitBtn input 
{
    display: block;
    width: 10em;
    margin: 30px auto 20px;
    padding: 15px 20px;
    background: rgb(255, 255, 255);
    border: 2px;
    outline: black;
    font-family: League Spartan;
    font-size: 20px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    border-radius: 5px;
    border-width: 1.3px;    
    cursor: pointer;
}
.blog_PopUp .submitBtn input:hover 
{
    background: rgb(0, 0, 0, 0.8);
    border: 2px;
    font-family: League Spartan;
    font-size: 20px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    border-width: 1.3px;    
    cursor: pointer;
}

/* Backdrop overlay */
.blogBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.5s, opacity 0.5s;
    z-index: 1000; 
}

.blogBackdrop-active {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s 0s, opacity 0.8s;
}



/* MESSAGE OF UPLOAD SUCCESS */
.blogMessageSuccess
{
    display: block;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    margin: 0 auto;
    transition: opacity 0.7s ease-out;
}
.blogMessageSuccess.hidden {
    opacity: 0;
    pointer-events: none;
}
.blogAlertMsg 
{
    padding: 20px 50px;
}
.blogAlertMsg img
{
    position: absolute;
    cursor: pointer;
    width: 20px;
    height: auto;
    top: 10em;
    right: 11px;
    opacity: 50%;
    transition: 0.1s;
}
.blogAlertMsg img:hover
{
    opacity: 100%;
}
.blogAlertMsg h3
{
    font-family: League Spartan;
    font-size: 25px;
    font-weight: bold;
    color: white;
}
.blogAlertMsg p
{
    font-family: League Spartan;
    font-size: 15px;
    padding: 10px 0 0;
    color: white;
}
/* MESSAGE OF UPLOAD SUCCESS */


/* FILE: FOR edit.php */
form
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ffffff;
}
.editSliderContainer
{
    background-color: rgb(255, 255, 255);
    width: 50em;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.editSliderContainer .sliderPrevImg
{
    display: block;
    margin: auto;
    position: relative;
    padding: 10px;
    border: solid 3px black;
}
.editSliderContainer .editTitle h1
{
    font-family: League Spartan;
    font-weight: 900;
    text-align: center;
    padding: 0 0 10px;
} 
.sliderPrevImg label
{
    font-family: League Spartan;
    font-size: 20px;
    font-weight: bold;
}
.sliderNewImg
{
    padding: 30px 0;
    font-family: League Spartan;
    font-size: 20px;
    font-weight: bold;
}
.sliderPrevImg img
{
    width: 25em;
    height: 25em;
    display: block;
    margin: 0 auto;
} 
.submitBtn input
{
    display: block;
    margin: auto;
    font-family: League Spartan;
    font-size: 25px;
    padding: 10px 30px;
    background: white;
    border: solid 1px black;

    transition: 0.1s;
}
.submitBtn input:hover
{
    background: rgb(0, 0, 0);
    border: solid 1px black;
    color: white;
    font-weight: bold;
}











