.checkout-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 15em;
}
.address-container {
  height: 120px;
  width: 1250px;
  box-shadow: 1px 1px 8px rgb(0, 0, 0, .1);
}
.products-ordered-container {
  box-shadow: 1px 1px 8px rgb(0, 0, 0, .1);
}
.address-text {
  width: 100%;
  margin-left: 1.5em;
  margin-top: 1.5em;
}
.address-text p {
  font: 400 1.5em League Spartan;
}
.address-info {
  width: 100%;
  display: flex;
  align-items: center;
  margin-left: 2em;
  margin-top: 1.5em;
}
.contact-number,
.address {
  width: 50%;
}
.contact-number label,
.address label {
  font: 400 1.2em League Spartan;
}
.contact-number input,
.address input {
  padding: 0.4em 3em;
  -webkit-appearance: none;
  border: 1px solid black;
}
.products-summary-container {
  height: 4em;
  width: 1250px;
  display: flex;
  align-items: center;
  justify-content: start;
}
.products-ordered {
  margin-left: 2em;
}
.products-ordered p {
  font: 400 1.4em League Spartan;
}
.item-image img {
  width: 7em;
  border-radius: 2em;
}
.shipping-container {
  height: auto;
  padding: 2em 0em;
  width: 1250px;
  display: flex;
  align-items: center;
  justify-content: end;
  border-top: 1px dashed grey;
}
.shipping-fee {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 6em;
  margin-right: 3em;
}
.column {
  flex: 1 1 16.6%;
  display: flex;
  justify-content: center;
}
.order-total-container {
  height: auto;
  padding: 2em 0em;
  width: 1250px;
  display: flex;
  align-items: center;
  justify-content: end;
  border-top: 1px dashed grey;
}
.order-total {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 6em;
  margin-right: 3em;
}
.order-total span {
  color: green;
  font: 500 1.4em League Spartan;
}
.orders {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 0em;
}
.orders > div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.item-image {
  margin-left: 1em;
}
.mod-container {
  width: 1250px;
  box-shadow: 1px 1px 8px rgb(0, 0, 0, .1);
}
.txt-payment {
  margin-left: 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5em 0;
}
.txt-payment p {
  font: 400 1.4em League Spartan;
}
.payment-info {
  height: auto;
  width: 1250px;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  padding: 1.5em 0em;
  border-top: 1px dashed grey;
}
.payment-info > div {
  margin-right: 3em;
}
.payment-method {
  margin-right: 3em;
  margin-bottom: 5px;
}
.paymentmethod {
  padding: 5px 12px;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 5px;
  font: 500 18px League Spartan;
}
.place-order {
  height: 6em;
  display: flex;
  align-items: center;
  justify-content: end;
  border-top: 1px dashed grey;
}
.place-order button {
  margin-right: 3em;
  padding: 10px 25px;
  background-color: black;
  border: none;
  cursor: pointer;
  color: white;
  font: 500 1em League Spartan;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: end;
}
.row {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 7em;
  padding: 0.5em 0;
}
.total-payment-price {
  display: flex;
  align-items: center;
  justify-content: end;
  color: green;
  font: 600 2em League Spartan;
  width: 3.5em;
}
