
nav{
  position: fixed;
  box-shadow: none;
}

.emailNotif{
  z-index: 100;
  transform: translateX(10%);
  position: absolute;
  display: flex;
  text-align: center;
  justify-content: center;
  padding: .8em;
  color: black;
  background-color: white;
  box-shadow: 0em 1px 10px rgba(24, 24, 24, 0.2);
  font-family: league spartan;
  font-size: 18px;
  display: none;
}
.triangle{
  display: none;
  position: absolute;
  transform: translateX(69%);
  margin-top: 2.8em;
  border-top: 20px solid white;
  filter: drop-shadow(0 1px 10px rgba(24, 24, 24, 0.2));
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
}

.forgot-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

.forgot-pass{
  height: 100vh;
  width: 50%;
  position: fixed;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0em 1px 10px rgb(0, 0, 0, .2);
}
.forgot-pass h1{
  font-family: league spartan;
  font-size: 40px;
  font-weight: bold;
  color: rgb(32, 32, 32);
}

.forgotPass-form {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-y: auto; 
  overflow-x: hidden;
  padding: 2em; 
  height: 100vh; 
  width: 50%; 
  margin-left: 58vw; 
}

.forgotPass-form p {
  font-family: league spartan;
  font-size: 20px;
  margin: 30px 0;
}
.forgotPass-form p:nth-child(1) {
  color: rgb(92, 92, 92);
}

.forgotPass-form input {
  font-family: league spartan;
  display: block; 
  width: 20em; 
  font-size: 22px;
  padding: 1em; 
  margin: 20px 0; 
  border-radius: 20px;
}
.forgotPass-form button{
  cursor: pointer;
  display: block; 
  font-family: league spartan;
  background-color: black;
  color: white;
  border-radius: 50px;
  font-size: 18px;
  width: 7em; 
  padding: 1em; 
  margin: 20px 0; 
}