.bg-modal{
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, .7);
    position: fixed;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
}
.bg-modal-add{
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, .7);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg-modal textarea{
    height: 10em;
    display: block;
    margin: 0;
}

.edit-btnBlack{
    cursor: pointer;
    color: white;
    position: absolute;
    margin: 1em;
    left: 86vw;
    background-color: black;
    padding: 1em;
    font-family: League Spartan;
    font-size: 18px;
    border: 1px solid white;
}
.edit-btnWhite{
    cursor: pointer;
    color: black;
    position: absolute;
    margin: 1em;
    left: 86vw;
    background-color: white;
    padding: 1em;
    font-family: League Spartan;
    font-size: 18px;
    border: 1px solid black;
}
.edit-btn:hover {
    background-color: rgb(26, 26, 26);
}

.modal-content{
    background-color: black;
}