* {
  font-family: League Spartan;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}

.sidebarAndContent {
  height: 54em;
  width: 100%;
  display: flex;
}
.sidebarAndContent a{
  color: black;
}
.sidebar {
  width: 16em;
  padding-left: 60px;
}
.sidebar li {
  line-height: 1.9em;
  transition: all 0.3s;
}
.choice:hover {
  font-weight: bold;
  letter-spacing: 0.4px;
}
.category {
  display: none;
}
#menu {
  display: block;
}
.header1 {
  font: 700 1.9em League Spartan;
}
.header2 {
  font: 700 1.5em League Spartan;
}
.choice {
  font: 400 1.09em League Spartan;
}

.contents {
  height: 35em;
  width: 82%;
  padding: 15px 50px 0px 50px;
}
.txtEspresso p,
.txtBrew p {
  font: 400 1.1em League Spartan;
  color: grey;
  margin-top: 5px;
}
hr {
  border: 0.5px solid rgba(94, 90, 90, 0.2);
  margin: 12px 0px 2px 0px;
}
.drinksOptions,
.foodsOptions {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 15px 0px 12px 5px;
}
.options img {
  width: 8.25em;
  border-radius: 100%;
  transition: 0.3s;
}
.options img:hover {
  filter: brightness(85%);
}
.options p {
  font: 400 1.3em League Spartan;
  color: black;
  transition: all 0.3s;
}
.options p:hover {
  font-weight: bold;
}
.options p:active {
  opacity: 0.6;
}
.option {
  display: flex;
  align-items: center;
  gap: 1.25em;
}
.option span {
  font: 300 0.8em League Spartan;
  color: grey;
}

.menuContainer {
  padding-left: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  column-gap: 125px;
  padding-top: 15px;
}
.menu-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.menu-options img {
  width: 9em;
  border-radius: 100%;
  margin-bottom: 3px;
  cursor: pointer;
}
.menu-options p {
  font: 400 1.1em League Spartan;
  color: black;
  margin-bottom: 5px;
  letter-spacing: 0.5px;
  cursor: pointer;
}
.category .menu-options p span {
  font: 300 0.8em League Spartan;
  color: grey;
}
.txtSweetCream,
.txtCroffle {
 margin: 30px 0px 10px 0px;
}
h2 span {
  font: 300 0.6em League Spartan;
  color: grey;
}
.category h2 {
  font: 700 26px League Spartan;
}
.txtDrinks {
  display: flex;
  justify-content: space-between;
}

.popup {
  height: 28em;
  width: 58em;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-color: white;
  border: 5px solid black;
  border-radius: 3em;
  top: 100%;
  left: 50%;
  visibility: hidden;
  transform: translate(-50%,-50%) scale(0.2);
  transition: transform 0.3s, top 0.3s;
  z-index: 1000;
  filter: blur(0px);
}
.open-popup {
  visibility: visible;
  top: 50%;
  transform: translate(-50%,-50%) scale(1);
}
body .popup-open{
  overflow: hidden;
}
.blur-background {
  filter: blur(5px);
  transition: filter 0.4s;
}
.popup img {
  width: 25em;
  border-radius: 15%;
}
.popupImage {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popupContent {
  height: 100%;
  width: 50%;
  padding: 60px 18px 25px 10px;
  column-gap: 20px;
}
.popupContent > div {
  margin-bottom: 15px; 
}
.btnClose {
  display: flex;
  justify-content: end;
}
.btnClose button {
  border: none;
  background: transparent;
  right: 0%;
  cursor: pointer;
}
.btnClose button img {
  width: 1.5em;
  transition: all 0.4s;
}
.btnClose button img:hover {
  width: 1.6em;
}
.description p {
  color: #333333;
  font: 400 18px League Spartan;
}
.price {
  display: flex;
  margin-top: 30px;
}
.price > div {
  margin-right: 15px;
}
.txt-price p {
  font: 400 18px League Spartan;
  color:gray;
}
.price-list p {
  font: 400 19px League Spartan;
  color: #333333;
}
.price-list span {
  font: 500 20px League Spartan;
}


.quantity {
  margin-top: 32px;
}
.quantity > div {
  margin-right: 15px;
}
.quantity,
.addMinus {
  display: flex;
  align-items: center;
}
.quantity p, 
.total p {
  font: 400 18px League Spartan;
  color:gray;
}
.quantityInput {
  width: 1em;
  text-align: center;
  color: rgba(0, 0, 0, .8);
  border: 1px solid rgba(0, 0, 0, .09);
  -webkit-appearance: none;
  padding: 3px 10px;
}
.total {
  margin-top: 30px;
}
.total span {
  font: 500 19px League Spartan;
  color: black;
}
.btnAdd,
.btnMinus {
  border: none;
  background: transparent;
  -webkit-appearance: none;
  border: 1px solid rgba(0, 0, 0, .09);
  padding: 3px 8px 3px 8px;
  cursor: pointer;
}
.addBuy {
  height: 6.75em;
  display: flex;
  align-items: end;
  justify-content: end;
}
.addBuy > button {
  margin-right: 18px;
}
.addCart,
.buyNow {
  padding: 10px 25px;
  cursor: pointer;
  border-radius: 20px;
  font: 600 16px League Spartan;
  border: 2px solid black;
  transition: all 0.4s;
}
.addCart {
  color: black;
  background: transparent;
}
.buyNow {
  color: white;
  background-color: black;
}
.addCart:hover {
  background-color: black;
  color: white;
}
.buyNow:hover {
  background: transparent;
  color: black;
}

/* Extra Large Devices (large desktops, 1280px and up) */
@media (min-width: 1280px) and (max-width: 1400px) {
  
}
/* Large Devices (laptops/desktops, 1024px and up) */
@media (min-width: 1024px) and (max-width: 1279px) {
  
}
/* Medium Devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 1023px) {
  
}
/* Small Devices (large phones, 480px and up) */
@media (min-width: 480px) and (max-width: 767px) {
  
}
/* Extra Small Devices (phones, up to 479px) */
@media (max-width: 479px) {
  
}
