
nav{
  position: fixed;
  box-shadow: none;
}

.password-reset-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

.password-reset{
  height: 100vh;
  width: 50%;
  position: fixed;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0em 1px 10px rgb(0, 0, 0, .2);
}
.password-reset h1{
  font-family: league spartan;
  font-size: 40px;
  font-weight: bold;
  color: rgb(32, 32, 32);
}

.password-reset-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-y: auto; 
  overflow-x: hidden;
  padding: 2em; 
  height: 100vh; 
  width: 50%; 
  margin-left: 58vw; 
}

.password-reset-container p {
  font-family: league spartan;
  font-size: 20px;
  margin: 20px 0;
}
.password-reset p:nth-child(1) {
  color: rgb(92, 92, 92);
}

.password-reset-form input {
  font-family: league spartan;
  display: block; 
  width: 20em; 
  font-size: 22px;
  padding: 1em; 
  margin: 20px 0; 
  border-radius: 20px;
}
.password-reset-form button{
  cursor: pointer;
  display: block; 
  font-family: league spartan;
  background-color: black;
  color: white;
  border-radius: 50px;
  font-size: 18px;
  width: 10em; 
  padding: 1em; 
  margin: 20px 0; 
}