* {
  font-family: League Spartan;
}
a {
  text-decoration: none;
}

.cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 12px;
  height: 50em;
  width: 100%;
}

.cart-summary {
  height: 60px;
  width: 1250px;
  display: flex;
  flex-wrap: wrap;
  background-color: #FFFFFD;
  box-shadow: 1px 1px 8px rgb(0, 0, 0, .2);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.column {
  flex: 1 1 12.5%;
  display: flex;
  justify-content: center;
}
.select-all,
.select {
  height: 20px;
  width: 20px;
  background-color: black;
  color: white;
  cursor: pointer;
}
.cart-summary p {
  color: rgb(136, 136, 136);
}

.cart-items-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.cart-items {
  height: 110px;
  width: 1250px;
  background-color: #FFFFFD;
  box-shadow: 1px 1px 8px rgb(0, 0, 0, .2);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-image img {
  width: 90px;
  border-radius: 25px;
}
.product-customization p {
  font: 400 1em League Spartan;
  color: rgba(0,0,0,0.5);
}
.btn-add,
.btn-minus {
  border: none;
  background: transparent;
  -webkit-appearance: none;
  border: 1px solid rgba(0, 0, 0, .09);
  padding: 3px 8px 3px 8px;
  cursor: pointer;
}
.total-price p {
  color: green;
}
.delete-button a {
  color: red;
}

.checkout-area {
  height: 90px;
  width: 1250px;
  display: flex;
  position: fixed;
  flex-wrap: wrap;
  bottom: 0%;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFD;
  box-shadow: 1px 1px 8px rgb(0, 0, 0, .1);
  border: 1px solid black;
  border-bottom: none;
}
.select-all-checkout {
  height: 20px;
  width: 20px;
} 
.select-all-text p,
.delete-checkout a,
.total-checkout p {
  font: 400 18px League Spartan;
}
.delete-checkout a {
  color: red;
}
.total-checkout span {
  color: green;
  font: 500 20px League Spartan;
}
.checkout-button button {
  padding: 10px 25px;
  background-color: black;
  border: none;
  cursor: pointer;
  color: white;
  font: 500 15px League Spartan;
  transition: background-color 0.2s, color 0.2s, border 0.2s, font 0.2s, active 0.2s;
}
.checkout-button button:hover {
  background-color: white;
  border: 2px solid black;
  color: black;
  font: 600 15px League Spartan;
}
.checkout-button button:active {
  background-color: black;
  border: none;
  color: white;
}
