* {
  font-family: League Spartan;
}
a {
  text-decoration: none;
}

.cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 12px;
  height: auto;
  background-color: rgb(238, 238, 238);
  width: 100%;
}

.cart-summary {
  margin: 1em 0em 0em 0em;
  height: 60px;
  width: 81em;
  display: flex;
  flex-wrap: wrap;
  background-color: #FFFFFD;
  box-shadow: 1px 1px 8px rgb(0, 0, 0, .2);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.column {
  flex: 1 1 12.5%;
  display: flex;
  justify-content: center;
}
.checkout {
  flex: 1 1 14.2%;
  display: flex;
  justify-content: center;
}
.select-all,
.select {
  height: 20px;
  width: 20px;
  background-color: black;
  color: white;
  cursor: pointer;
}
.cart-summary p {
  color: rgb(136, 136, 136);
}

.cart-items-container {
  width: 81em;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 13em;
}
.cart-items {
  background-color: #FFFFFD;
  box-shadow: 1px 1px 8px rgb(0, 0, 0, .2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8em 0em;
}

.product-image img {
  width: 90px;
  border-radius: 25px;
}
.product-customization p {
  font: 400 1em League Spartan;
  color: rgba(0,0,0,0.5);
}
.btn-add,
.btn-minus {
  border: none;
  background: transparent;
  -webkit-appearance: none;
  border: 1px solid rgba(0, 0, 0, .09);
  padding: 3px 8px 3px 8px;
  cursor: pointer;
}
.total-price p {
  color: green;
}
.delete-button button {
  background: transparent;
  border: none;
  font: 400 17px League Spartan;
  color: red;
  cursor: pointer;
  transition: all 0.3s;
}
.delete-button button:hover {
  font: 600 18px League Spartan;
}
.delete-button button:active {
  opacity: 0.2;
  font: 300 16px League Spartan;
}

.checkout-area {
  width: 1300px;
  display: flex;
  position: fixed;
  bottom: 0;
  left: 50%; /* Start from the center */
  transform: translateX(-50%); /* Shift back by half of the width */
  justify-content: center;
  align-items: center;
  background-color: #FFFFFD;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 2.1em 0em; /* Optional: padding for inner spacing */
  z-index: 1000;
}
.select-all-checkout {
  height: 20px;
  width: 20px;
} 
.delete-all button,
.total-checkout p {
  font: 400 18px League Spartan;
}
.delete-all button {
  color: red;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}
.delete-all button:hover {
  font: 600 19px League Spartan;
}
.total-checkout span {
  color: green;
  font: 500 20px League Spartan;
}
.checkout-btn {
  margin: 0em 1em 0em 0em;
  padding: 1em 2.5em;
  background-color: black;
  border: none;
  cursor: pointer;
  color: white;
  font: 500 15px League Spartan;
  transition: all 0.3;
}