
.description{
  color: gray;
  margin: 4em 0em 0em 0em;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.success{
  display: none;
  transition: 1s ease-in-out;
  padding: 1em;
  position: absolute;
  top: 32%;
  background-color: rgb(231, 231, 231);
  font-family: league spartan;
  font-size: 20px;
  color: black;
  width: 20em;
  border-radius: 10px;
}

.emailNotif{
  z-index: 100;
  transform: translateY(110%);
  position: absolute;
  left: 36%;
  display: flex;
  text-align: center;
  justify-content: center;
  padding: .8em;
  height: 5em;
  width: 15em;
  color: black;
  background-color: white;
  box-shadow: 0em 1px 10px rgba(24, 24, 24, 0.2);
  font-family: league spartan;
  font-size: 18px;
  display: none;
}
.emailNotifOkay{
  z-index: 100;
  border-radius: 50px;
  font-size: 18px !important;
  padding: .5em;
  position: absolute;
  display: none;
  left: 53%;
  top: 59%;
}
.emailNotifOkay:hover{
  background-color: rgb(245, 245, 245);
}
.triangle{
  display: none;
  position: absolute;
  top: 58.5%;
  left: 56.7%;
  margin-top: 2.8em;
  border-top: 20px solid white;
  filter: drop-shadow(0 1px 10px rgba(24, 24, 24, 0.2));
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
}

.sign-up-container h1, p, a{
  font-family: League Spartan;  
}

.sign-up-container h1{
  font-size: 37px;
}

.sign-up-container p{
  font-size: 22px;
  margin: 0em 0em 1em 0em;
}

.forgot-info{
  color: #615027;
  font-weight: bold;
  font-size: 21px !important;
}

.sign-up-container .form-container input[type="text"] {
  padding: 10px;
  font-size: 22px;
  width: 19em;
  height: 30px;
  border-radius: 10px;
  transition: box-shadow 0.5s ease; /* Increase transition duration to 0.5s */
  box-shadow: 0 0 0 0 rgba(97, 97, 97, 0); /* Initial shadow with no spread */
}

.sign-up-container .form-container input[type="text"]:focus {
  box-shadow: 0 0 0 5px rgba(94, 94, 94, 0.1); /* Add shadow effect on click with a small spread radius */
}

.sign-up-container input[type="text"]:focus::placeholder{
  transition: .2s ease;
  color: transparent;
}

.sign-up-container .chk input[type="checkbox"]{
  margin: 20px 0px 23px 0px;
  font-size: 35px;
  border: 10px solid black;
  width: 1em;
  height: 25px;
  border: 10px solid black; 
  border-radius: 10px; 
  background-color: black;
  color: white;
}
.chk{
  margin: 1em 0em 0em .2em;
  font-size: 22px;
  font-family: League Spartan;
}

.form-container input[type="submit"]{
  position: relative;
  top: 2em;
  left: 17em;

  cursor: pointer;
  padding: 1em;
  color: white;
  font-weight: bold;
  font-size: 19px;
  text-decoration: none;
  border-radius: 50px;
  background-color: black;
  box-shadow: 0px 1px 10px rgba(97, 97, 97, 0.7);
  width: 6.5em;
}

.sign-up-container a{
  font-size: 23px;
}

.sign-up-container{
  position: relative;
  margin: 6em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-container{
  display: flex;
  flex-direction: column;
  gap: 1em;

  margin: 3em;
  width: 30em;
  border-radius: 15px;
  padding: 3em 1em 7em 2em;
  box-shadow: 0px 1px 10px rgba(97, 97, 97, 0.2);
}